.about-us-content {
    margin-top: 4vw;
}

.about-us-content  p {
    font-size: 3vw;
    margin: auto;
    max-width: 73vw;
    text-align: center;
    font-family: Clarendon Light;
    color: #293333;
}

.sofa-image-wrapper img {
    height: 56 vw;
    width: 73vw;
    margin: auto;
    display: block;
}

.navigate {
    position:fixed;
    top:0;
    width:100%;
}

.contentBelow {
    text-align: center;
    width: 100%;
    font-size: 110px; 
    color: #FF5252;
    left: 50%;
    margin-right: -50%;
}

.content1 .content2 {

}