
.navigate img {
    width:  100%;
    height: 50%;
}
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display:wght@800&display=swap');
.textNavigate {
    display: flex; 
    background-color: #fcf5eb; 
    padding: 30px; 
    display: flex;
    align-items: center;
    position: sticky; 
    font-family: 'Playfair Display', serif;
}

.navigate a {
   text-decoration: none;
   color: #293333; 
   font-size: 50px; 
   margin-bottom: 50px;
   margin-right: 35px;
}

.navigate a:hover {
    color: #FF5252;
  }